.cover .cover-img{
    background-image: url('bg1.JPEG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.navbar{
    background-color: rgba(39, 38, 38, 0.541) !important;
}
.logo-img{
	padding-top: 12%;
}
.cover .cover-text{
}
.cover-icon .h-icon {
	color: #fff;
} 



@media only screen and (max-width:950px){

	
	.logo-img{
		padding-top: 30% !important;
	}
	
}@media only screen and (max-width: 350px){

	.logo-img{
		padding-top: 50% !important;
	}
  }

/*our team*/
.card{
	background-color: #2d3035 !important;
	color: #ffffff;
}
.team{
	min-height: 100vh;
	background-color:#22252a; 
	/* float: left; */
	width: 100%;
}
.team h1{
	font-size: 36px;
	font-family: open sans;
	font-weight: 700;
	color:#ffffff;
	margin:0;
	padding-bottom:60px;
	text-align: center;
}
.team .card{
	width:25%;
	/* float: right; */
	/* padding:0px 15px; */
	align-items: center;
     /* margin-left: 30%; */
    /* margin-right: 30%; */
    background-color: #2d3035
}
.team .card .box {

	padding:25px;
	background-color: #2d3035;
	border-radius:5px;
	transition: margin 1s ease,box-shadow 1s ease;
	align-items: center;
}
.team .card .box:hover{
	margin-top:-15px;
	box-shadow:0px 0px 40px black;
}
.team .card .box img{
	width:150px;
	display: block;
	margin:10px auto;
	border-radius:30%;

}

.team .card .box h4{
	font-size: 20px;
	font-family: open sans;
	margin:20px 0px 10px;
	color:#ea5e71;
	text-align: center;
	font-weight: 700;
}

.team .card .box h5{
	font-size:16px;
	font-family: open sans;
	font-weight: 600;
	color:#b9b9b9;
	margin:0px 0px 15px;
	text-align: center;
}
.team .card .box p{
	color:#b9b9b9;
	font-size: 15px;
	font-family: open sans;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding:0px 20px;
}
.team .team-img{
	padding: 22% 0;
}


/*responsive*/

@media(max-width: 991px){
	.team .card{
		width:50%;
		margin-bottom:30px;
	}
}

@media(max-width:550px){
	.team .card{
		width:100%;
	}
}
 /* about */
 .bgcolor{
	 background-color: rgb(176, 200, 207);
 }
 .cover-image img{
    
    width: 100%;
    margin-top: 1%;
}
.about-us {
	height: 50vh;
} 
h2{
    text-align: center;
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: oblique;
    font-stretch: expanded;
    font-size: x-large;
}
p{
	padding-top: 3%;
	text-align: center;
	text-decoration: darkslategray;
	color:darkgreen;
	font-size: large;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
    
}
/* videos */



   /* imagescss */
 

.image-row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	background-color: rgb(80, 124, 136);
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }


.footer-bottom{
    background-color: rgb(98, 98, 100);
    /* height: 40px; */
 
	 }
	@media 